.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Fondo general de la página */
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* gris claro */
  font-family: 'Segoe UI', sans-serif;
}

/* Contenedor principal centrado */
.App {
  max-width: 1600px; /* tamaño máximo */
  margin: 0 auto;     /* centra horizontalmente */
  padding: 5px 5px; /* espacio interior */
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.05); /* sutil sombra */
  border-radius: 8px;  /* bordes redondeados suaves */
}
